<cmp 
	name = "王朝影音" 
	link = "http://fulidao.net" 
	description = "官方网站：fulidao.net"
	logo = "{src:logo.png,xywh:[10R,10R,0,0]}"
	
	skins = "skin.swf"
	plugins = "http://www.tv6080.com/proxy/proxy.swf"
        video_image="{src:logo.swf,xywh:[-40C,-50C,0,0]}"
	backgrounds = ""
	lists = "list.xml"
	src_handler = "" 
	lrc_handler = ""
	skin_id = "1"
	play_id = ""
	auto_play = "1"
        click_play = "1"
	list_delete = ""
        list_error="0"

        yk = "http://tv6080.pronvod.com/zy/youku.php?p="
        qy = "http://tv6080.pronvod.com/zy/qiyi.php?p="
        sh = "http://tv6080.pronvod.com/zy/sohu.php?p="
        fx = "http://tv6080.pronvod.com/zy/fx.php?p="
	sound_sample = "true"
	mixer_displace = "true"
	mixer_filter = "true"

        announce_xywh = "0,0,100P,20"
        announce_speed = "1" 
        announce_content = "欢迎使用王朝影音播放器，本播放器完全免费，下载地址：fulidao.net 客服QQ120015790 更多精彩http://about.me/fulidao"

/>



