*{
	padding:0; margin:0; font-size:12px;
	text-decoration:none;
	font-family:"Microsoft Yahei", Arial, Helvetica, sans-serif, "ו";
}
li{
	list-style:none;
}
.clear{zoom:1}
.clear:after{
	display:block;
	height:0px;
	visibility:hidden;
	clear:both;
	content:".";
}


.head{
	width:100%;
	background-color:#0065C9;
	overflow:hidden;
}
.h_menu{
	width:1100px;
	margin:0px auto;
	position:relative;
}
.h_log{
	width:226px;
	height:70px;
	display:block;
	float:left;
	margin-top:0px;
	background:url("anniu.png")/*tpa=http://www.livecn.cc/images/anniu.png*/ 0px 220px;
}
.h_option{
	width:460px;
	float:right;
}
.h_option a{
	color:#fafafa;
	font-size:16px;
	width:90px; text-align:center;
	height:70px;
	line-height:70px;
	float:left;
	display:block;
	position:relative;
}
.h_option a.cur, .h_option a:hover{
	border-bottom:3px #fff solid;
}


.content {
	height:500px;
	overflow:hidden;
	background:url("bj.jpg")/*tpa=http://www.livecn.cc/images/bj.jpg*/ 50% 50%;
}
.c_download {
	width:1000px;
	margin:0px auto;
}
.c_description{
	width:285px; 
	float:right;
}
.c_d_version{
	color:#FCFFFF;
	line-height:25px;
	margin:120px 0px 25px 15px;
}
.c_d_version p{
	font-size:14px;
}
.downloadBtn{
	width:199px;
	height:61px;
	display:block;
	margin-left:10px;
	background:url("anniu.png")/*tpa=http://www.livecn.cc/images/anniu.png*/ -0px 401px;
	margin-bottom:50px;
}
.downloadBtn:hover{
	background:url("anniu.png")/*tpa=http://www.livecn.cc/images/anniu.png*/ -380px 401px;
}
.c_description dl{
	color:#fcffff;
	margin-left:20px;
}
.c_description dt{
	font-size:20px;	
	margin-bottom:10px;
}
.c_description dd {
	float:left;
	width:110px;
	line-height:20px;
}
.c_description dd a{
	color:#fcffff;
	text-decoration:underline;
}
.c_description dd a:hover {
	color:#0099FF;
}

.recommend{
	width:1030px;
	border-top:1px #ccc solid;
	margin:0px auto;
}

.c_title{	
	width:1030px;
	margin:15px auto;
}
.blue{
	border-left:5px #00CCFF solid;
}
.purple{
	border-left:5px #9966CC solid;
}
.yellow{
	border-left:5px #f90 solid;
}
.center{
	width:990px;
	margin:0px auto;
}
.r_item{
	width:480px;
	float:left;
	margin-right:10px;
}
.r_img{
	width:223px;
	height:62px;
	display:block;
	float:left;
	margin-top:30px;
	background:url("anniu.png")/*tpa=http://www.livecn.cc/images/anniu.png*/;
}
.k_img {
	background-position:5px 333px;
}
.p_img {
	background-position:-205px 330px;
	width:200px;
	margin-left:15px;
}
.r_down{
	float:left;
	width:220px;
	height:150px;
}
.r_down h3{
	padding-top:15px;
	margin:10px 10px 0px 0px;
}
.r_down h3 a{
	font-size:18px;
	color:#333;
	float:left;
}
.r_down h3 a:hover{
	color:#0099FF;
}
.r_d_img{
	width:26px;
	height:17px;
	display:block;
	float:left;
	margin-top:-5px;
	margin-left:5px;
	background:url("anniu.png")/*tpa=http://www.livecn.cc/images/anniu.png*/;
}
.new_img{
	background-position:0px 252px;
}
.hot_img{
	background-position:-39px 252px;
}
.update_time{ margin-left:10px;}
.r_downBtn {
	width:104px;
	height:36px;
	display:block;
	background:url("anniu.png")/*tpa=http://www.livecn.cc/images/anniu.png*/ -229px 401px;
	margin-top:20px;
}

.fun{
	width:1000px;
	margin:10px auto;
}
.fun li {
	float:left;
	width:480px;
	height:100px;
}
.fun li h3{
	font-size:16px;
	color:#111;
	margin-bottom:6px;
}
.fun li span{
	width:64px;
	height:66px;
	display:block;
	background:url("anniu.png")/*tpa=http://www.livecn.cc/images/anniu.png*/;
	float:left;
	margin:0px 10px 0px 10px;
}
.fun li div{
	float:left;
	margin-top:10px;
}
.fun li .concise{
	background-position:2px 4px;
}
.fun li .free {
	background-position:-60px 4px;
}
.fun li .fast {
	background-position:-122px 4px;
}
.fun li .thread {
	background-position:-184px 4px;
}
.fun li .cloud {
	background-position:-246px 4px;
}
.fun li .more {
	background-position:-308px 4px;
}
.fun li .right{
	margin-left:80px;
	_margin-left:40px;
}
.c_title span {
	float:left; font-size:20px; 
	font-weight:bold;
	line-height:25px;
	text-indent:10px;
	display:block;
	line-height:25px;
	font-size:20px;
	color:#333;
}
.c_title a{
	width:90px;
	height:29px;
	display:block;
	float:left;
	margin-left:30px;
	background:url("anniu.png")/*tpa=http://www.livecn.cc/images/anniu.png*/;
}
.c_title .kuaibo{
	background-position:0px -86px;
}
.c_title .baidu{
	background-position:-90px -86px;
	
}
.c_title .google{
	background-position:-181px -86px;
}
.c_title .suwang{
	background-position:-271px -86px;
}
.c_title .anquan{
	background-position:-361px -86px;
}
.c_title .qq{
	background-position:-450px -86px;
}
.c_title .jinshan{
	background-position:-544px -86px;
}
.space{
	margin-bottom:30px;
}
.bottom{
	height:200px;
	margin-top:10px;
	background-color:#333;
}
.b_log{
	width:96px;
	height:70px;
	margin:0px auto;
	padding-top:30px;
	margin-bottom:20px;
	background:url("anniu.png")/*tpa=http://www.livecn.cc/images/anniu.png*/ -245px 244px;
}
.copyright, .name{
	width:360px;
	height:25px;
	display:block;
	font-size:14px;
	margin:0px auto;
	color:#acacac;
}
.name{
	width:45px;
	margin-top:10px;
}


/*update*/
.wrap {
	width:960px;
	margin:30px auto;
	margin-bottom:0px;
}
.w_u_item{
	background-color:#f8f9fe;
	margin-bottom:30px;
}
.w_u_item h3{
	font-size:16px;
	height:50px;
	overflow:hidden;
	line-height:60px;
	color:#333;
	margin:0px 20px;
	margin-bottom:20px;
	border-bottom:1px #bed7e8 dotted;
}
.w_u_item dl {
	padding-left:50px;
	padding-bottom:20px;
}
.w_u_item dl dt{
	font-size:14px;
	font-weight:bold;
	color:#333;
}
.w_u_item dl dd{
	font-size:14px;
	color:#333;
}

/*about*/
.a_wrap{
	width:960px;
	margin:30px auto;
	border:1px #bed7e8 solid;
	height:650px;
	overflow:hidden;
	background-color:#f8f9fe;
}
.a_w_title{
	font-size:16px;
	color:#333;
	margin:20px 30px;
}
.a_w_content{
	font-size:14px;
	margin:0px 60px;
	color:#333;
}
.a_wrap ul{
	margin:0px 60px;
}
.a_wrap li{
	font-size:14px;
	width:280px;
	line-height:30px;
	float:left;
}
.a_wrap li span{
	color: #00CC00;
}
.a_wrap li.red span{
	color:red;
}

/*help*/
.h_wrap{
	width:960px;
	margin:30px auto;
	border:1px #bed7e8 solid;
	overflow:hidden;
	background-color:#fff;
}
.h_w_head{
	margin:15px;
	height:45px;
	line-height:45px;
	overflow:hidden;
	color:#fff;
	background-color:#196bcb;
}
.h_w_head span{
	font-size:16px;
}
.user_help{
	margin-left:15px;
	float:left;
}
.feedback{
	float:right;
	margin-right:15px;
}
.feedback a{
	font-size:16px;
	color:#f90;	
}
.feedback a:hover{
	text-decoration:underline;
}

.h_w_body{
	margin:15px 20px;
}

.h_w_body li {
	margin-left:15px;
}
.h_w_body li a{
	color:#0360af;
	font-size:15px;
	line-height:30px;
}

.solve {
	background-color:#ffffed;
	margin:10px 15px;
	display:none;
}
.h_w_body div.cur {
	display:block;
}
.solve dl{
	padding:10px;
	color:#333;
	line-height:25px;
}
.solve dt{
	font-size:15px;
	font-weight:bold;
	margin-bottom:10px;
	margin-left:15px;
}
.solve dd{
	font-size:15px;
	margin:0px 25px;
}

.solve dd img {
	border:none;
	margin-top:10px;
}